google-cloud-storage
python-dotenv
pandas
requests
google-cloud-bigquery
pyarrow
db-dtypes
pandas-gbq
pymongo
streamlit
bcrypt
plotly
streamlit-cookies-manager
streamlit-local-storage
python-dotenv
dnspython
resend
google-cloud-bigquery-storage
pyarrow